{# templates/emails/registration.html.twig #}
<h3>Votre Commande est bien ajoute!Merci !</h3>

<div>Mr/Mme votre commande  est passer avec succes sur notre platforme !</div>

<div>Merci à la prochaine !!</div>

<div>Adomifit Team ! Merci !</div>

