{% extends 'base-front.html.twig' %}

{% block title %}A domifit | SuiviRégime{% endblock %}
{% block body %}
    {% block errorExist %}
        <section class="section-404">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-404">

                            <img src="/front-office/img/finger.gif" alt="">
                            <h3>Mr/Mme  ! Votre commande a bien été prise en compte !  </h3>
                            <p>Merci d'avoir acheté notre produit</p>

                            <a href="{{ path( 'accueil' )}}"><i class="fa fa-home"></i>Page d'Accueil</a> <br>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
{% endblock %}