{% extends 'base-back.html.twig' %}

{% block title %}New CategorieProgramme{% endblock %}

{% block body %}
    <h1>Create new CategorieProgramme</h1>

    {{ include('categorie_programme/_form.html.twig') }}

  <a  style="border : 50% 20% / 10% 40%;background: #f36100;float: right;" class="p-1 mb-1  text-white " href="{{ path('categorie_programme_index') }}">back to list</a>
{% endblock %}
